[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pylint = "*"

[packages]
matplotlib = "==3.0.*"
numpy = "==1.15.*"
pillow = "==5.3.*"
scikit-image = "==0.14.*"
scipy = "==1.2.*"

[requires]
python_version = "3.7"
